/*================================
========== GENERAL =============
================================*/
body {
  background-color: rgb(234, 237, 242);
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
}

header {
  background-image: url('/images/backgrounds/FB_IMG_1481035367063.jpg');
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}


/*================================
=========== INDEX ==============
================================*/
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.featureimg {
  height: 10em;
  weight: 10em;
  border-radius: 50%;
}

.featureimg:hover{
  background-color: white;
}

.featureimg:active{
  background-color: rgba(0, 255, 0, 0.3);
}




/*================================
========= GALLERY ==============
================================*/
.profilerow {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: grey;
  flex-flow: row wrap;
  justify-content: center;
}

.profilerow div {
  justify-content: center;
  align-content: space-around;
  align-content: center;
  margin: 2%;
}

.profilerow:hover{
  background-color: #82C276;
}

.profilerow:active{
  background-color: rgba(0, 255, 0, 0.3);
}

.profileimage1 {

}





/*===============================
============= ABOUT ===========
===============================*/
